.header {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 24px auto 179px auto 24px;
  align-items: center;
  justify-content: space-between;
  background-color: $midnight-green;
  .logo {
    width: 128px;
    height: 32px;
    flex-shrink: 0;
    align-self: start;
    grid-area: 1 / 2;
  }

  .hamburger {
    padding-top: 5px;
    grid-area: 1 / 4;
    align-self: start;
    width: 20px;
    height: 17px;
    flex-shrink: 0;
  }
  button {
    display: none;
  }
  nav {
    display: none;
  }

  @include for-tablet-layout {
    padding-top: 72px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px 1fr 48px 1fr 220px 1fr 40px;

    > * {
      grid-column: 2;
    }

    nav {
      display: flex;
      grid-area: 1 / 4;
      gap: 40px;
      align-self: start;
      @include fontProperties(rem(18px), rem(28px));
    }

    button {
      display: block;
      position: relative;
      grid-area: 1 / 6;
      top: -8px;
      align-self: start;
    }

    .hamburger {
      display: none;
      margin: 0;
    }
  }
}
