@font-face {
  font-family: "Livvic-700";
  src: url("/Livvic/Livvic-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic-600";
  src: url("/Livvic/Livvic-SemiBold.ttf") format("truetype");
}
