.app-layout {
  display: grid;
  background-color: $midnight-green;
  @include for-mobile-layout {
    grid-template-rows: 160px auto;
  }
  @include for-tablet-layout {
    grid-template-rows: 224px auto;
  }
  @include for-desktop-layout {
  }
  @include for-wide-layout {
  }
}
